#include "crosses_trackball_shared.dtsi"

/* Enable the listener for the left (peripheral) trackball */
&tb_left_listener {
  status = "okay";
};

/* Define the right/central trackball sensor */
&spiX {
  status = "okay";
  cs-gpios = <&gpioY CS_PIN GPIO_ACTIVE_LOW>;

  tb_right: tb_right@0 {
    status = "okay";
    compatible = "pixart,pmw3610";
    reg = <0>;
    spi-max-frequency = <2000000>;
    irq-gpios = <&gpioZ IRQ_PIN (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

    evt-type = <INPUT_EV_REL>;
    x-input-code = <INPUT_REL_X>;
    y-input-code = <INPUT_REL_Y>;

    cpi = <700>;
    force-awake;

    /* You might need these depending on physical orientation */
    /* xy-swap; */
    /* x-invert; */
    /* y-invert; */
  };
};

/* Enable the right/local trackball listener and attach it to tb_right */
&tb_right_listener {
  status = "okay";
  device = <&tb_right>;
};
